CLOUD_ENV_ID=
DATABASE_URL=
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=
GEMINI_API_KEY=
PORT=3000
GATEWAY_PORT=
JWT_EXPIRE_HOURS=
JWT_SECRET=
MINIO_ACCESS_KEY=
MINIO_BUCKET=
MINIO_ENDPOINT=
MINIO_SECRET_KEY=
REDIS_URL=
WECHAT_APPID=
WECHAT_APPSECRET=
WECHAT_APP_ID=
WECHAT_APP_SECRET=
