
!server.js
!yaya-bg.png
# Cocos Creator
# OS
# WeChat DevTools
*.local
*.log
*.mjs
*.png
.DS_Store
.env
.old-prototype-v3/
Thumbs.db
anim-*.png
build/
cal-*.png
final*.png
frames/
library/
local/
merge-*.png
native/engine/android/
native/engine/ios/
node_modules/
package-lock.json
package.json
private.config.json
profiles/
project.private.config.json
prototype-v2/
prototype-v3/
screenshot-*.png
temp/
test-results/